
body{
    background-color: rgb(221, 219, 217);
    width: 80vw;
    margin: 0 auto;
}
.tasks__box{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 3rem;
}
iframe{
    width: 10rem;
    height: 20rem;
}
.tasks__box-link{
    text-decoration: none;
    color: aliceblue;
    background-color: blue;
    border-radius: 10px;
    padding: 2rem;
}
.tasks-box-test{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}